@model FilmsCatalog.Helpers.PaginatedList<FilmsCatalog.Models.FilmViewModel>

@{
    ViewData["Title"] = "Каталог фильмов";
}

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create" asp-route-pageNumber="@Model.PageIndex">Добавить фильм</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Описание
            </th>
            <th>
                Год выпуска
            </th>
            <th>
                Режиссер
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producer)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-pageNumber="@Model.PageIndex">Инфо</a>
                    @if (item.IsCurrentUserPosted)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" asp-route-pageNumber="@Model.PageIndex">| Изменить</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" asp-route-pageNumber="@Model.PageIndex">| Удалить</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">
    Пред.
</a>
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-default @nextDisabled">
    След.
</a>
